<div id="header-particles">
    <ngx-particles [id]="headerParticlesId" [options]="particlesData" [particlesInit]="particlesInit.bind(this)">
    </ngx-particles>
</div>

<header class="header-container">
    <img src="assets/img/foto.jpg" alt="Bruno Daniel Soares dos Santos" class="profile-photo">

    <h1>Bruno Daniel Soares dos Santos</h1>
    <p class="description">Estudante & Desenvolvedor</p>
    <div *ngIf="contactData?.length > 0" class="social-links">
        <ng-container *ngFor="let contact of contactData">
            <a href="{{ contact.data }}" [attr.target]="contact.new_tab ? '_blank' : null">
                <i class="{{ contact.icon }}"></i>
            </a>
        </ng-container>
    </div>
</header>