<div id="header-particles" *ngIf="isBrowser">
    <ngx-particles [id]="headerParticlesId" [options]="particlesUrl" [particlesInit]="particlesInit.bind(this)">
    </ngx-particles>
</div>

<div class="header-container">
    <img src="assets/img/foto.jpg" alt="Bruno Daniel Soares dos Santos" class="profile-photo">

    <h1>Bruno Daniel Soares dos Santos</h1>
    <p class="description">Estudante & Desenvolvedor</p>
    <div class="social-links">
        <a href="https://github.com/bdsoares" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/bdsoares" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:bdsoares@protonmail.com">
            <i class="far fa-envelope"></i>
        </a>
    </div>
</div>