.footer-container {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 0 80px 20px;
}

.footer-links h2 {
    margin-bottom: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-name {
    margin: 0;
    margin-right: 10px;
    display: inline-block;
    min-width: 70px;
}

.contact-data {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.contact-data:hover {
    color: #1e90ff;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #272727;
}

.footer-copy {
    margin-left: 80px;
    font-size: 14px;
}

.footer-source {
    margin-right: 80px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-source:hover {
    color: #1e90ff;
}

@media (max-width: 600px) {
    .footer-links {
        margin: 0 40px 20px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-copy,
    .footer-source {
        margin: 5px 0;
    }
}