<div class="about-me-container">
    <div class="about">
        <h2>Sobre Mim</h2>
        <p>
            Olá, sou Bruno, um entusiasta da programação e desenvolvimento de software.
        </p>

        <p>
            Neste portfólio, você encontrará uma
            coleção das minhas conquistas e projetos.
        </p>

        <p>
            Minha paixão por resolver problemas e criar soluções inovadoras se reflete em cada trabalho apresentado
            aqui.
            <br>
            Estou ansioso para compartilhar meu percurso e meu compromisso
            contínuo com a excelência tecnológica.
        </p>
    </div>
</div>