<div class="about-me-container">
    <div class="about">
        <h2>Sobre Mim</h2>
        <p>
            Olá, sou Bruno, programador com foco em soluções eficientes e inovadoras em software.
        </p>

        <p>
            Este portfólio destaca meus principais projetos e conquistas técnicas. Comprometido com a excelência e a
            evolução contínua na tecnologia, estou pronto para transformar desafios complexos em resultados impactantes.
        </p>

        <p>
            Vamos explorar como a tecnologia pode impulsionar seu projeto.
        </p>
    </div>
</div>